:root {
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  text-align: center;
  font-size: 35px;
  color: white;
}

.container {
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
}

.password-generator {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: min-content;
}

.password-field {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.password {
  display: flex;
  min-width: 200px;
  width: 70vw;
  max-width: 500px;
  font-size: 25pt;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid gray;
}

.length-number {
  margin: 0;
  width: min-content;
  margin: 5px;
}

.length-number input {
  font-size: 20pt;
  min-width: 50px;
  width: 7vw;
  max-width: 53px;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
}

.range-selector {
  width: min-content;
  margin: 5px;
}

.range-selector input {
  position: relative;
  min-width: 10px;
  width: 60vw;
  max-width: 447px;
  flex-shrink: 0;
}

.checkboxes {
  width: 200px;
}

.generate-button {
  position: absolute;
  top: 7%;
  right: 2%;
  font-size: 35pt;
  color: gray;
}

.generate-button:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
